section
	.flex.flex--space-around
		.col-1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.
			
		.col-1.order-first
			p CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necedssitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.

section
	.flex.flex--center
		.col-2
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.

section
	.flex.flex--center
		.col-50.flex.flex--center
			.col-2
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.

		.col-50
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nostrum suscipit a aperiam reiciendis dolor. Inventore, distinctio optio? Recusandae necessitatibus odit dolorum exercitationem ut, molestiae reprehenderit laborum inventore ratione eligendi.