section.about
	background:
		image: url(#{$assetPath}/home.jpg)
		position: center center
		size: cover


	h2
		color: #2c3e50
		font:
			size: 60px
			weight: 400
		line-height: 1
		margin-left: -108px
		margin-top: 30px

	.home-lead
		padding-bottom: 120px
		color: #2c3e50

@media (max-width: 1110px)
	section.about
		.push-right
			margin-left: 130px

@media (max-width: 640px)
	section.about

		h2
			margin-bottom: 150px
			margin-top: 0

		.home-lead
			padding-bottom: 30px
			margin-left: -30px
		
		.col-1
			margin-right: 100px

@media (max-width: 405px)
	section.about
		.col-1
			margin-right: 0



		

